/* setting up the grid
see https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
for more into */
body {
  background-color: #ffffff !important;
  /*  background-color: #EDDD6E !important;*/
  color: #074bdd;
  /*color: #040995;*/
  font-size: 18px;
  /*background-image: linear-gradient(rgba(242, 220, 9, 0.99) 0%, rgba(255, 255, 255, 0) 50%);*/
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(248, 242, 201, 0.99) 50%);
}

hr {
  height: 1px;
  background-color: #07dd99;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #65dbb6;
}

a {
  color: #06c488;
  /*color:#07dd99;*/
}

.container {
  width: 100%;
  /* border: 1px black solid;*/
}

.jumbotron {
  min-height: 100vh;
  background-color: transparent;
}

.jumbotron h2 {
  font-style: italic;
}

/* MENU */
.navbar {
  font-family: "Times", serif;
}

.navbar .active {
  text-decoration: line-through !important;
}

.navbar-light .navbar-toggler {
  color: rgba(223, 56, 56, 0);
  border: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(7, 221, 153, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* menu for small screens */
#menu-mobile {
  font-size: 1.6em;
  padding-left: 0px;
}

#menu-mobile a {
  color: #07dd99;
  text-decoration: none;
}

#menu-mobile a:hover {
  color: #65dbb6;
}

.footer-text {
  text-align: center !important;
  font-style: italic;
}

.footer, .page-footer {
  /*  background-color: #040995 !important;*/
  background-color: #053cb0 !important;
  color: #fae6e7;
  padding-bottom: 20px;
}

.logos img {
  max-width: 200px;
  max-height: 90px;
  margin: 20px;
  /*  border: 1px solid white;*/
}

.row.logos {
  align-items: center;
}

.jumbotron h1 {
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 2px 2px #07dd99;
  /*padding-bottom: 30px;*/
}

h1 span {
  padding: 0 70px 0 70px;
  /*  background-image: url("../img/ctrl-shift.png");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 0px center;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 70%;
}

.jumbotron h2 {
  /* header-subtitle */
  font-size: 1.2em;
  color: #074bdd;
  font-family: "Times", serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 500;
  letter-spacing: 1px;
  /*line-height: 50%;*/
}

h2 {
  /* header-subtitle */
  font-size: 1.2em;
  color: #074bdd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  /*line-height: 50%;*/
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #07dd99;
}

h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

h5 {
  font-size: 0.7em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

p, li {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  line-height: 163%;
}

/* form */
.form-area form {
  width: 100%;
  max-width: 500px;
}

.form-control {
  color: #040995;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  border: transparent;
  border-radius: 0px;
  border-bottom: 1px solid #040995;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);
  ;
  border-color: #07dd99;
  box-shadow: none;
  -webkit-box-shadow: none;
}

@-webkit-keyframes autofill {
  to {
    color: #040995;
    background: rgba(255, 255, 255, 0.1);
    ;
  }
}

@keyframes autofill {
  to {
    color: #040995;
    background: rgba(255, 255, 255, 0.1);
    ;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn-blue {
  color: #ffffff !important;
  background-color: #074bdd !important;
  border-color: #074bdd !important;
}

.button {
  color: #07dd99;
  background-color: transparent;
  border-color: #07dd99;
  border-style: solid;
  margin: 4px 2px;
  cursor: pointer;
  padding: 14px 28px;
}

input[type=text] {
  border: none;
  width: 100%;
  padding: 8px;
}

input[type=email] {
  border: none;
  width: 100%;
  padding: 8px;
}

/* MAIL CHIMP */
#mc_embed_signup {
  background: transparent;
  clear: left;
}

/*download-docs*/
.download-docs .material-icons {
  vertical-align: top;
}

/* scrolling text*/
.scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 20s linear infinite;
}

.scroll-left1 {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left1 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 40s linear infinite;
  -webkit-animation: scroll-left 40s linear infinite;
  animation: scroll-left 40s linear infinite;
}

.scroll-left2 {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left2 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 15s linear infinite;
  -webkit-animation: scroll-left 15s linear infinite;
  animation: scroll-left 15s linear infinite;
}

.scroll-left3 {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left3 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 17s linear infinite;
  -webkit-animation: scroll-left 17s linear infinite;
  animation: scroll-left 17s linear infinite;
}

.scroll-left4 {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.scroll-left4 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  animation: scroll-left 30s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.tickerwrapper {
  /* the outer div */
  position: relative;
/*  top: 100px;*/
  left: 100px;
  width: 700px;
/*  height: 28px;*/
  overflow: hidden;
}

ul.list {
  position: relative;
  display: inline-block;
  list-style: none;
}

ul.list.cloned {
  position: absolute;
  top: 0;
  left: 0;
}

ul.list li {
  float: left;
  padding-left: 20px;
  font-style: italic;
/*  color: #07dd99;*/

}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
  #menu-style li a:hover:not(.active) {
    border-bottom: none;
  }

  .header-menu {
    display: none;
  }

  .p {
    font-size: 1.1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 700px) {
  .jumbotron p {
    padding-top: 20px;
    /*  text-align: justify;*/
  }

  .jumbotron h2 {
    font-size: 1em;
  }

  .jumbotron .how-to-apply {
    display: none;
  }

  h1 span {
    padding: 0;
    background-image: url("");
  }

  .home-page-content {
    text-align: center;
  }

  #menu-style li a:hover:not(.h5) {
    border-bottom: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* larger screens */
@media only screen and (min-width: 701px) {
  .mobile-menu {
    display: none;
  }
}
